#header {
    visibility: hidden;
    min-height: 0;
}

.toolbar-addressbar {
    position: fixed;
    width: 100%;
}

.toolbar-addressbar * {
    margin-top: -100%;
}

.toolbar-addressbar:focus-within * {
    margin-top: auto;
}

.find-in-page {
    position: fixed;
    width: 100%;
    z-index: 3;
}

div#panels-container {
    width: 0 !important; /* inline css by vivaldi here leaves no choice */
}

div#panels div#switch {
    display: none;
}

div#panels div.panel-group {
    right: 0 !important; /* inline css by vivaldi here leaves no choice */
}

div.button-toolbar.newtab {
    display: none;
}

:root {
    --tabs-container-width: 200px;
}

div#tabs-container {
    width: var(--tabs-container-width) !important;
}

#webview-container ~ .StatusInfo {
    left: calc(var(--tabs-container-width) + 6px); /* shift the "url preview" right so that it isn't on top of the tab panel */
}
